
@media only screen and (max-width: 1600px) {
    
    /* Common */
    .container {max-width: 1300px;}

    /* Banner */
    .banner .banner-semi-text {font-size: 3.9rem;}
    .banner .banner-text {font-size: 7.5rem;}
    
}

@media only screen and (max-width: 1440px) {
    
    /* Common */
    .container { max-width: 1140px;}

    /* Banner */
    .banner .banner-semi-text {font-size: 3.5rem;}
    .banner .banner-text {font-size: 5.5rem;}
    
}
/*Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1199.98px) {
    
}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width:991.98px) {
    
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767.98px) {
    
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    
}


/* Extra small devices (portrait phones, less than 413px) */
@media only screen and (max-width: 413.98px) {
    
}
